@charset "UTF-8";
 body {
    font-family: Arial, sans-serif; 
    background-color: aliceblue;	
    min-width: 630px;
  }
  .wrapper {
  	top: 0;
    margin-bottom : 150px;
    z-index: 2;
    display: block;
  }
 h2{
 	margin-bottom: 20px;
 }

  .container {	
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    margin-right: 200px;
    border: 2px solid #ddd;
    border-radius: 20px;
    border-color: black;
    background-color: aliceblue;
    float: right;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1.2rem;
  }
  #productCostPrice,
  #productSalePrice,
  #productRegistrationDate,
  #mainCagegory,
  #subCagegory,
  #productHashtags
   {
    width : 30%; 
  }

  #productInventoryQuantity
   {
    width: 20%;
  }
  #productBest,
  #productDiscountStatus, 
  #productDisplayStatus {
  	width: 10%;
  }

  .form-group button {
    width: 80%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
   
  }
  .form-group button:hover {
    background-color: #4cae4c;
  }